.idea
.phpunit.cache
.git
.gitattributes
.gitignore
.DS_Store
.editorconfig
.phpstorm.meta.php

vendor

phpstan.neon
phpstan-baseline.neon
phpunit.xml
compose*.yml
grumphp.yml
Makefile

*.md

docker/nginx/etc/ssl/*
