includes:
  - ./vendor/phpstan/phpstan/conf/bleedingEdge.neon
  - phpstan-baseline.neon

parameters:
  paths:
    - src
    - config
  excludePaths:
    - assets/*
    - config/reference.php
    - docker/*
    - node_modules/*
    - tests/*
  level: max
  parallel:
  	maximumNumberOfProcesses: 4

  treatPhpDocTypesAsCertain: true
  checkUninitializedProperties: true
  checkBenevolentUnionTypes: true
  reportAlwaysTrueInLastCondition: true
  reportPossiblyNonexistentGeneralArrayOffset: true
  reportPossiblyNonexistentConstantArrayOffset: true
  reportAnyTypeWideningInVarTag: true
  reportUnmatchedIgnoredErrors: true

  tempDir: var/cache/phpstan
